
.nav {
  color: #fff; 
  background-color: #ee6e73; 
  width: 100%; 
  height: 56px; 
  line-height: 56px; 
}

$primaryColor: #011b3b;
$secondaryColor: #e7ebf4;
$tertiaryColor: #fff;
$backgroundOpacity: 0.95;

@mixin easeOut() {
  transition: all 0.5s ease-out;
}

.menu-div {
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 2em;
  color: #141313;
  cursor: pointer;
  z-index: 1000;
  padding: 2px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 30vh;
  box-shadow: 24px 50px 60px rgba(0,0,0,.3);
}

.menu {
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.98;
  visibility: hidden;
  z-index: 100;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primaryColor, 5);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding {
    margin: 0;
    padding: 0;
    background: lighten($primaryColor, 1);
    transform: translate3d(0, 100%, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 500px;
      height: 700px;
      background: url(../../assets/9.jpg);
      //border: 3px solid $tertiaryColor;
      //border-radius: 50%;
      background-size: cover;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 1rem;
    text-transform: uppercase;

    a {
      color: $tertiaryColor;
      @include easeOut();

      &:hover {
        color: $secondaryColor;
      }
    }

    i {
      margin-right: 5px;
    }
  }
}

// Delay each Nav Items slide by 0.1s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// Media Querries mixin

@mixin MediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin MediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin MediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin MediaXl {
  @media screen and (min-width: 1170px) {
    @content;
  }
}

.menu-div1 {
  position: fixed;
  top: -60px;
  font-size: 2em;
 // color: $tertiaryColor;
 color: #fff;
  cursor: pointer;
  z-index: 1000;
  // padding: 2px;
  //padding-left: 1vw;
}

// Wide Screens
@include MediaXl {
  //portfolio page
  .project-div {
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: none;
    }
  }
}

// Desktops and Laptops
@include MediaLg {
  //portfolio page
  .project-div {
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: none;
    }
  }
}

// Tablets and Small Laptops
@include MediaMd {
  //main section
  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2.5rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
  main {
    text-align: center;
  }
  .sm-heading {
    margin-bottom: 17px;
  }
  h1,
  .menu-branding,
  .menu-nav {
    flex-direction: column;
    float: none;
    width: 100%;
    overflow: hidden;
  }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0);
    .portrait {
      width: 500px;
      height: 500px;
    }
  }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  // About page

  .about-div {
    grid-template-areas: "bio-image" "bio" "work01" "work02" "work03";
    grid-template-columns: 1fr;
  }

  //portfolio page
  .project-div {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: 2px solid $tertiaryColor;
    }
  }

  // Navbar styles

  .menu {
    &.show {
      visibility: visible;
    }

    &-branding,
    &-nav {
    }
    &-nav {
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    &-branding {
      &.show {
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        width: 530px;
        height: 300px;
        background: url(../../assets/outdoor.jpg);
        background-size: cover;
      }
    }

    .nav-item {
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1rem 1rem;
      text-transform: uppercase;
    }
  }
  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2.4rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
}

// Smart Phones
@include MediaSm {
  .about-div {
    grid-template-areas: "bio-image" "bio" "work01" "work02" "work03";
    grid-template-columns: 1fr;
  }

  //portfolio page
  .project-div {
    grid-template-columns: 1fr;
    width: 90%;
    margin: 0 auto;

    .project {
      padding: 10px;
      margin-bottom: 4px;
      border-bottom: 2px solid $tertiaryColor;
    }
  }

  h1,
  h3 {
    font-weight: 350;
    margin: 0;

    &.lg-heading {
      font-size: 2rem;
    }

    &.sm-heading {
      font-size: 1.1rem;

      padding: 2.2rem, 1.8rem;
      margin-bottom: 6px;
    }
  }
}

.menu-branding {
  background: transparent;
}

.menu-nav {
  background: rgba($color: #000000, $alpha: 0.9)
}

.menu {
    svg {
      color: rgba($color: #d8d0d0, $alpha: 0.9);
      margin-right: 0.5vw;
    }
  }

  


