.feed {
     width: 100%;
     margin: 0;
     padding: 0;
    height: 60vh;

    background-image: url("../../assets/12_.jpg");
    background-attachment: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.feed1 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 6vh;
}

.feedb {
    display: block; 
    width: 20%;
    margin: 0 auto; 
}

row {
    padding: 0;
}